<script id="navbarWrapperTemplate" type="text/x-custom-template">
  	<nav id="${id}" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">${title}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars_${id}" aria-controls="navbars_${id}" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbars_${id}" >
          <ul class="navbar-nav mr-auto" id="${id}_childsWrapper" > 

            <!-- Menu items will be render here -->
            

          </ul>
          <!--
          <form class="form-inline my-2 my-md-0">
            <input class="form-control" placeholder="Search" aria-label="Search" type="text"> </input>
          </form>
          -->
        </div>
   	  </div>
    </nav>
</script>