 <script id="textFieldTemplate" type="text/x-custom-template">
	 <!-- este es solo a modo informativo 
	 <div class="form-group row">
	    <label for="${id}" class="col-sm-2 col-form-label">${label}</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control-plaintext" id="${id}" value="${value}"></input>
	    </div>
	  </div>
	 -->
  <div class="form-group row col-sm">
  	{{if label}}  
    	<label for="${id}" class="col-sm-2 col-form-label">${label}</label>
    {{/if}}
    <div class="col-sm">
      <input type="text" class="form-control" id="${id}" value="${value}" placeholder="${placeholder}"></input>
    </div>
  </div>

</script>   